<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runshellscript</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Script</key>
				<string>"$HOME/Projects/Laptop_Setup/display-switch/display-switch.sh" desktop</string>
				<key>UUID</key>
				<string>366E1FEC-CEB1-41F2-9DC8-2ECB7D84952C</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
